<%= javascript_include_tag "d3.v3.min" %>
<%= javascript_include_tag "topojson.v1.min" %>
<%= javascript_include_tag "datamaps.all.min" %>
<%= stylesheet_link_tag "bootstrap.min" %>
<%= stylesheet_link_tag "agency" %>
<%= stylesheet_link_tag "font-awesome.min.css" %>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jobble - Job stats</title>

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top" class="index">

    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Jobblee</div>
                <div class="intro-lead-in">Find everything about your dream job</div>
                <form id="sign-ip">
                  <div>
                    <input type="email" class="form-control" placeholder="Email address" id="email" required="" data-validation-required-message="Please enter your email." aria-invalid="false">
                    <span>
                      <input type="submit" class="btn btn-xl" value="Let me know" />
                    </span>
                  </div>
                <div class="page-scroll">
                  <a href="#map">Learn more
                    <div>↓</div></a>
                </div>
            </div>
        </div>
    </header>

    <section id="map">
        <div class="container" id="container" style="position: relative; width: 1000px; height: 600px;"></div>
    </section>
</body>
<%= javascript_include_tag "map" %>
